*{
	margin:0px;
	padding:0px;
}
body{
	font-family:arial;
	font-size:12px;
}
div#header{
	width:100%;
}
div#header > img {
	width:100%;
	background-repeat:none;
	height: 50px;
}
div#footer{
	width:100%;
	height: 20px;
	color:black;
	text-align:center;
	clear:both;
	
}
div#body{
	width:80%;
	border: 1px solid;
	border-color:black;
	height:100%;
	color: black;
	float:right;
}
div#leftpanel{
	width:16%;
	float:left;
	color: black;
	margin-left:10px;
}
div#content{
	width:96%;
	min-height: 300px;
	color: black;
	padding:10px;
}
div#leftpanel > ul > li{
    text-decoration: none;
    font-size: 13px;
    color: blue;
    background-color: #ccc;
    width: 100%;
    list-style: none;
    border: 1px solid;
    margin-left: 0px;
    display: block;
}

/*
 * Employee list stles
*/

.tableheading{
	background-color: #000;
	color:#fff;
	font-weight:bold;
}
.pageheading{
	font-size:14px;
	color: blue;
	font-weight: bold;
	margin-bottom: 10px;
}

/*
 * Add Employee 
*/ 
.label{
	width: 25%;
	float: left;
	font-weight: bold;
	padding-right: 5px;
}
.element{
	width: 73%;
	float: right;
}
.formrow{
	clear:both;
	padding: 5px;
}
.msg{
	width: 100%;
	text-align:center;
	color: red;
}
